.App {
  margin: 5% 10% 10% 10%;
}

.index {
  display: flex;
}

.lists {
  width: 35%;
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
  border-radius: 1em;
  margin: 2% 2% 0 0;
}

@media screen and (max-width:800px) {
  .index {
    display: flex;
    flex-direction: column;
  }
  .lists {
    width: 80%;
  }
}

.listSelect {
  display: flex;
  padding: 2px;
}

.listName {
  flex: 1;
}

.listName button {
  width: 100%;
}

.listName button:hover {
  background-color: #222;
}

.listDisplay {
  border: 2px solid #333;
  border-radius: 1em;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.item {
  display: flex;
  padding: 2px;
}

.itemName {
  display: flex;
  flex: 1;
  border: 1px solid #333;
  padding: 2px;
}

.Form {
  display: flex;
  flex-direction: column;
}

.Form div {
  display: flex;
  justify-content: space-between;
}

.Form input {
  margin: 1%;
}

button {
  padding: 8px;
  border: none;
  background-color: #333;
  color: #ddd;
}

.buttonAdd {
  border-radius: 50%;
  margin: 1em;
  background-color: green;
}

.buttonAdd:hover {
  background-color: darkgreen;
}

.buttonCheck {
  background-color: green;
}

.buttonCheck:hover {
  background-color: darkgreen;
}

.buttonUpdate {
  background-color: yellow;
  color: black;
}

.buttonUpdate:hover {
  background-color: #9b870c;
}

.buttonDelete {
  background-color: red;
}

.buttonDelete:hover {
  background-color: darkred;
}
