/* * {
  background-color:lightgray;
} */

.App {
  /* border: 2px solid black; */
  margin: 5% 10% 10% 10%;
}

.index {
  /* border: 2px solid brown; */
  display: flex;
}

.lists {
  /* border: 2px solid red; */
  width: 35%;
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
  border-radius: 1em;
}

.listSelect {
  /* border: 2px solid orange; */
  display: flex;
  padding: 2px;
}

.listName {
  flex:1;
}

.listName button{
  width:100%;
}

.listDisplay {
  border: 2px solid #333;
  border-radius: 1em;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 2%;
  /* align-items:center; */
  /* justify-content: space-around; */
}




.item {
  /* border: 2px solid green; */
  /* width: 20%; */
  display:flex;
  padding:2px;
}

.itemName {
  display:flex;
  flex:1;
  /* width:20%; */
  border: 1px solid #333;
  /* border-radius: 0.5em; */
  padding: 2px;
}

/* .itemName div {
  border:2px solid black;
} */


/* .addList {
  padding:2px;
  margin:2px 10px 2px 35%;
}

.addItem {
  padding:2px;
  margin:2px 10px 2px 10%;
} */

button {
  padding: 8px;
  border: none;
  background-color: #333;
  color: #ddd;
}

/* button:hover {
  background-color: #777;
  color: #000;
} */

.buttonAdd {
  border-radius:50em;
  margin: 1em;
  background-color: green;
}

.buttonAdd:hover {
  background-color: darkgreen;
}

.buttonCheck {
  background-color: green;
}

.buttonCheck:hover {
  background-color: darkgreen;
}

.buttonUpdate {
  background-color: yellow;
  color: black;
}

.buttonUpdate:hover{
  background-color: #9b870c;
}

.buttonDelete {
  background-color: red;
}

.buttonDelete:hover {
  background-color: darkred;
}