/* * {
  background-color:lightgray;
} */

.App {
  border: 2px solid black;
  margin: 5% 5% 10% 10%;
}

.index {
  border: 2px solid brown;
  display: flex;
}

.lists {
  border: 2px solid red;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.listSelect {
  border: 2px solid orange;
  display: flex;
  padding: 1%;
}

.listDisplay {
  border: 2px solid yellow;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item {
  border: 2px solid green;
  padding:2px;
  display: flex;
  flex-basis: 50%;
}

.itemName {
  /* padding: 8px; */
  border: none;
  background-color: #333;
  color: #ddd;
}

button {
  padding: 8px;
  border: none;
  background-color: #333;
  color: #ddd;
}

button:hover {
  background-color: #777;
  /* color: #000; */
}

.buttonAdd {
  background-color: green;
}

.buttonCheck {
  background-color: green;
}

.buttonUpdate {
  background-color: yellow;
  color: black;
}

.buttonDelete {
  background-color: red;
}